::-webkit-scrollbar {
    background: transparent;
}

:root {
    --main-bg-color: coral;
  }
  

.main-wrapper{
    margin:0px;
    display:flex; 
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
}

.main-container{
    flex:1;
}

#image{
    object-fit: cover;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vh;
    height: 0vh;
    position: relative;
    text-align: center;
    padding: 0vh;
    text-overflow: string;
    margin-right: 4vh;
}
